.final-results {
    place-self: stretch;

    display: flex;
    flex-direction: column;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: screen;
    background-color: lightgrey;
}

.final-results h2 {
    margin-bottom: 0.3em;
    place-self: center;
}

.top-three {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.first {
    margin-left: 2em;
}

.first .title {
    font-size: xxx-large;
    font-weight: bold;
}

.first img {
    height: 6em;
    aspect-ratio: 1;
    padding-top: 0.5em;
}

.first .player-name {
    font-size: 2em;
    font-weight: bold;
}

.second {
    margin-top: 1em;
}

.second .title {
    font-size: x-large;
    font-weight: bold;
}

.second img {
    height: 4em;
    aspect-ratio: 1;
    padding-top: 0.5em;
}

.second .player-name {
    font-size: 1.5em;
    font-weight: bold;
}

.third {
    margin-top: 3em;
}

.third .title {
    font-size: large;
    font-weight: bold;
}

.third img {
    height: 3em;
    aspect-ratio: 1;
    padding-top: 0.5em;
}

.third .player-name {
    font-size: 1em;
    font-weight: bold;
}

.leaderboard-final {
    background-color: lightgrey;
    border-radius: 8px;
    border: 1px solid black;

    margin-left: 2em;
    margin-right: 2em;

    flex-grow: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.leaderboard-column {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 1px;
}

.player-badge-final {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
}

.player-badge-final img {
    place-self: center;

    width: 90%;
}

.name-tag-final {
    border: 1px solid black;
    border-radius: 8px;

    display: flex;
    align-items: center;
}

.name-tag-final label {
    padding-left: 1em;
    padding-right: 1em;
}