.round-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 9fr;
    justify-self: stretch;
    align-items: stretch;

    margin-left: 1vw;
    margin-right: 1vw;
}

.round-display h2 {
    place-self: center;
    margin-top: 0;
    margin-bottom: 0;
}

.match-participants {
    display: flex;
    flex-direction: column;

    background-color: mediumseagreen;
}

.match-participants-header {
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
}

.match-participants-content {
    flex-grow: 1;

    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.match-participants-vs {
    font-size: 5em;
    font-weight: bold;
}

.match-participants-badges {
    align-self: stretch;
    padding: 1em;
    /*margin: 10%;*/
    gap: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.submit-scores-button {
    grid-column-start: span 2;
    place-self: center;
}

.dongle-board {
    align-self: stretch;
    margin-bottom: 1%;
}

.player-badge-round {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    column-gap: 1em;
}

.player-badge-round img {
    place-self: center;
    height: 4em;
}

.name-tag-round {
    border: 1px solid black;
    border-radius: 8px;

    display: flex;
    align-items: center;
}

.name-tag-round label {
    padding: 1em;
}